.deal-of-the-day {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    @include media("<=991px") {
      display: block;
      overflow-x: hidden;
    }
  }

  &__content {
    position: relative;
    padding-top: 85px;
    width: 515px;
    margin-right: 25px;
    flex: 0 0 515px;
    @include media("<=991px") {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      padding-top: 50px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 35px;
    @include media("<=991px") {
      margin-bottom: 15px;
    }
  }

  &__timer {
    display: flex;
    margin-bottom: 40px;
    @include media("<=991px") {
      justify-content: center;
    }
  }

  &__timer-item {
    width: 100px;
    height: 100px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    background-color: #fff;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__timer-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #0d6efd;
  }

  &__timer-text {
    position: relative;
    margin-top: -12px;
  }

  &__img-wrapper {
    position: relative;
    width: auto;
    flex: 1 1 auto;
    margin-top: 11px;
    @include media("<=991px") {
      
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1278px;
  }
}
