.footer {
  position: relative;
  margin-top: auto;
  background-color: #0d6efd;

  &__container {
    height: 277px;
    padding-top: 70px;
    padding-bottom: 110px;

    color: #fff;
    text-align: center;
    text-decoration: none;
    @include media("<=768px") {
      height: auto;
      padding-bottom: 30px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    @include media("<=768px") {
      display: block;
    }
  }

  &__nav-item {
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    @include media("<=768px") {
      display: block;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media("<=768px") {
        margin-bottom: 10px;
      }
    }
  }

  &__copyright {
  }
}
