.profile {
  &__container {
    margin-bottom: 50px;
  }

  &__form {
    &:not(:first-child) {
      margin-top: 30px;
    }
    max-width: 500px;
  }

  &__form-section {
  }

  &__form-btn {
    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
  }

  &__form-section-title {
  }

  &__form-group {
    margin-bottom: 10px;
  }
}
